table,th,tr,td{
	border: 2px solid black;
	border-collapse: collapse;
	padding: 10px;
	text-align: center;
}
th{
	background-color: lightgreen;
}
tr:nth-child(even){
	background-color: black;
	color: white;
}
