body{     
    background-color: lightgray; 
} 
img{     
    margin-top: 5px;     
    width: 200px;     
    height: 200px;     
    border-radius: 50%;     
    border: 5px solid green; 
} 
div{     
    background-color:gray;     
    margin-top: 100px;     
    border-radius: 20px;     
    width: 400px;     
    height: 450px;     
    box-shadow: 0 60px 60px rgba(0, 0, 0, 0.3); 
} 
